* {
  margin: auto;
  padding: 0;
  font-size: 62.5%;
}

body {
  background-color: rgb(95, 158, 160);
}
nav{
  margin-top: 1.3rem;
  background-color:rgb(71, 119, 121) ;
  border: 5px solid rgb(38, 65, 66) ;
  border-radius: 20px;
  max-width: 80%;
}
nav ul{
  display: flex;

}
nav a{
  font-size: 2rem;
  text-decoration: none;
  color: rgb(16, 234, 16);
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;


}
#LocalTimer {
  display: flex;
  background-color: cadetblue;
  font-size: 3rem;
  max-width: 80%;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
}

#LocalTimer button {
  color: rgb(16, 234, 16);
  background-color: rgb(38, 66, 67);
  border: 0;
  border-radius: 20px;
  min-width: 10rem;
}

#output{
  text-align: center;
  color: rgb(16, 234, 16);
  min-width: 20rem;
  background-color: rgb(38, 66, 67);
  border-radius: 20px;
}